# MongoDB Database
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/whitecoat?retryWrites=true&w=majority

# Email Configuration for Nodemailer
# Create a Gmail App Password: https://support.google.com/accounts/answer/185833

EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password
EMAIL_TO=info@whitecoat.com
